@charset "UTF-8";

html {
    overflow: auto;
}

body {
    overflow: hidden;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    color: white;
    position: relative;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: inherit;

    .bg {
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 100vh;
    }

    video {
        position: fixed;
        display: block;
        height: 100vh;
    }

    .slogan {
        position: fixed;
        font-size: 8vw;
        white-space: nowrap;
        // transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 767px) {}