@charset "UTF-8";

html {
    overflow: auto;
}

body {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    color: white;
    background-color: black;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
}

.bg {
    position: fixed;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-size: cover;

    .darker {
        background-color: rgba(0, 0, 0, 0.303);
        width: 100%;
        height: 100%;
    }
}

.curtain {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

.cancel {
    width: 0px;
    height: 0px;
    position: fixed;
    display: none;
    z-index: 50;

    .cancel-bar {
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: white;
        transform-origin: 50% 50%;
        left: -20px;
    }

    .cancel-upper {
        transform: rotate(45deg);
    }

    .cancel-lower {
        transform: rotate(-45deg);
    }
}

.menu {
    width: 40vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    left: 100vw;
    z-index: 30;
    display: flex;
    align-items: center;

    .menu-container {
        height: 70%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        a {
            text-decoration: none;
            font-size: 25px;
            color: white;
            height: 15%;
            display: flex;
            align-items: center;

            p {
                padding-left: 10px;
            }
        }
    }
}

.opening-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;

    video {
        position: fixed;
        display: block;
        height: 100vh;
    }

    .slogan {
        position: fixed;
        font-size: 8vw;
        white-space: nowrap;
    }
}

header {
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;

    img {
        position: relative;
        height: 40px;
    }

    .name {
        position: relative;
        font-size: 30px;
        white-space: nowrap;

        .underline {
            background-color: rgba(113, 0, 0, 0.461);
            width: 100%;
            height: 20px;
            bottom: 10px;
            position: absolute;
        }
    }



    button {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .bar-container {
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            .bar-margin {
                height: 15px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .bar {
                    width: 30px;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }
}

.main {
    position: relative;
    width: 100vw;
    padding-top: 60px;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 23vh;

    .title {
        font-size: 30px;
        height: 30px;
        margin-bottom: 10px;
        background: linear-gradient(transparent 30%, rgba(113, 0, 0, 0.632) 50%);
    }

    .content {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #news {
        position: relative;

        .article-container {
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-around;
            justify-content: space-between;
            width: 100%;

            .article-button {
                width: 150px;
                height: 180px;
                text-decoration: none;

                .article-thumbnail {
                    width: 100%;
                    height: 150px/16*9;
                    object-fit: cover;
                }

                .article-date {
                    width: 100%;
                    display: block;
                    font-size: 25px;
                    color: #fff;
                    text-align: left;
                }

                .article-title {
                    width: 100%;
                    display: block;
                    font-size: 20px;
                    color: #fff;
                    text-align: left;
                }
            }
        }
    }

    #artist {
        img {
            width: 100%;
            height: auto;
        }

        .discription {
            width: 100%;

            .name {
                font-size: 40px;
            }

            .name-read {
                font-size: 20px;
            }

            .detail {
                font-size: 15px;
            }
        }
    }

    #sns {

        .sns-icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;

            a {
                width: 50px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.article-detail {
    position: fixed;
    width: 100vw;
    height: 80vh;
    bottom: -100vh;
    background-color: black;
    z-index: 40;
    display: flex;
    align-items: center;
    flex-flow: column;

    .article-date {
        font-size: 40px;
        transform: scaleY(0.7);
        transform-origin: 50% 50%;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .article-title {
        font-size: 30px;
        background: linear-gradient(transparent 30%, rgba(113, 0, 0, 0.352) 50%);
        margin-bottom: 10px;
    }

    .article-thumbnail-arrow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;

        .article-thumbnail {
            width: 250px;
            height: 250px/16*9;
            object-fit: cover;
        }

        .arrow {
            position: relative;
            width: 50px;
            height: 150px;

            .arrow-shape {
                position: absolute;
                top: 74px;
                left: 0;

                .arrow-upper {
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    background-color: white;
                    transform: rotate(60deg);
                    transform-origin: 100% 100%;
                }

                .arrow-lower {
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    background-color: white;
                    transform: rotate(-60deg);
                    transform-origin: 100% 0%;
                }
            }
        }

        .arrow-left {
            transform: rotate(180deg);
            transform-origin: 50% 50%;
        }
    }

    .article-contents {
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 20px;
        line-height: 2;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

footer {
    width: 100vw;
    height: 20vh;
    background-color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    .index {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        a {
            text-decoration: none;
            font-size: 25px;
            color: white;
            width: 50vw;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


    }

    .copyright {
        position: absolute;
        bottom: 10px;
    }
}

@media screen and (min-width: 481px) {
    .main {
        .content {
            width: 50vw;
        }
    }

    .article-detail {
        height: 70vh;
    }

    footer {
        .index {
            a {
                width: 33.3vw;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .main {
        .content {
            width: 33.3vw;
        }
    }

    .opening-animation {
        video {
            width: 100vw;
            height: auto;
        }

        .slogan {
            font-size: 5vw;
        }
    }

    .article-detail {
        height: 60vh;
    }

    footer {
        .index {
            a {
                width: 33.3vw;
            }
        }
    }
}