html {
  overflow: auto;
}

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  color: white;
  background-color: black;
  position: relative;
}

.bg {
  position: fixed;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
}

.curtain {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.menu {
  width: 40vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  left: 100vw;
  z-index: 30;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  height: 15%;
  display: flex;
  align-items: center;
}
.menu a p {
  padding-left: 10px;
}

.opening-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}
.opening-animation video {
  position: fixed;
  display: block;
  height: 100vh;
}
.opening-animation .slogan {
  position: fixed;
  font-size: 8vw;
  white-space: nowrap;
}

header {
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
header img {
  position: relative;
  height: 40px;
}
header p {
  position: relative;
  font-size: 30px;
}
header button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header button .bar-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
header button .bar-container .bar-margin {
  height: 15px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button .bar-container .bar-margin .bar {
  width: 30px;
  height: 2px;
  background-color: white;
}

.main {
  position: relative;
  width: 100vw;
  top: 60px;
  z-index: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main .title {
  font-size: 50px;
}
.main .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
}
.main #news .article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
}
.main #news .article-container .article {
  width: 150px;
  height: 200px;
  text-decoration: none;
}
.main #news .article-container .article .thumbnail {
  width: 100%;
  height: 84.375px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main #news .article-container .article p {
  display: block;
  font-size: 20px;
  color: #fff;
}
.main #artist img {
  width: 100%;
}
.main #artist .discription {
  width: 100%;
}
.main #artist .discription .name {
  font-size: 40px;
}
.main #artist .discription .name-read {
  font-size: 20px;
}
.main #artist .discription .detail {
  font-size: 15px;
}
.main #sns .sns-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(173, 97, 97, 0.416);
}
.main #sns .sns-icons a {
  width: 50px;
}
.main #sns .sns-icons a img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */