html {
  overflow: auto;
}

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  color: white;
  background-color: black;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
}

.bg {
  position: fixed;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
}
.bg .darker {
  background-color: rgba(0, 0, 0, 0.303);
  width: 100%;
  height: 100%;
}

.curtain {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.menu {
  width: 40vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  left: 100vw;
  z-index: 30;
  display: flex;
  align-items: center;
}
.menu .menu-container {
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.menu .menu-container a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  height: 15%;
  display: flex;
  align-items: center;
}
.menu .menu-container a p {
  padding-left: 10px;
}

.opening-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}
.opening-animation video {
  position: fixed;
  display: block;
  height: 100vh;
}
.opening-animation .slogan {
  position: fixed;
  font-size: 8vw;
  white-space: nowrap;
}

header {
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
header img {
  position: relative;
  height: 40px;
}
header .name {
  position: relative;
  font-size: 30px;
  white-space: nowrap;
}
header .name .underline {
  background-color: rgba(113, 0, 0, 0.461);
  width: 100%;
  height: 20px;
  bottom: 10px;
  position: absolute;
}
header button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header button .bar-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
header button .bar-container .bar-margin {
  height: 15px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header button .bar-container .bar-margin .bar {
  width: 30px;
  height: 2px;
  background-color: white;
}

.main {
  position: relative;
  width: 100vw;
  padding-top: 60px;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 23vh;
}
.main .title {
  font-size: 30px;
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(transparent 30%, rgba(113, 0, 0, 0.632) 50%);
}
.main .content {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main #news {
  position: relative;
}
.main #news .article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.main #news .article-container .article-button {
  width: 150px;
  height: 180px;
  text-decoration: none;
}
.main #news .article-container .article-button .article-thumbnail {
  width: 100%;
  height: 84.375px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main #news .article-container .article-button .article-date {
  width: 100%;
  display: block;
  font-size: 25px;
  color: #fff;
  text-align: left;
}
.main #news .article-container .article-button .article-title {
  width: 100%;
  display: block;
  font-size: 20px;
  color: #fff;
  text-align: left;
}
.main #artist img {
  width: 100%;
  height: auto;
}
.main #artist .discription {
  width: 100%;
}
.main #artist .discription .name {
  font-size: 40px;
}
.main #artist .discription .name-read {
  font-size: 20px;
}
.main #artist .discription .detail {
  font-size: 15px;
}
.main #sns .sns-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.main #sns .sns-icons a {
  width: 50px;
}
.main #sns .sns-icons a img {
  width: 100%;
}

.article-detail {
  position: fixed;
  width: 100vw;
  height: 80vh;
  top: 100vh;
  background-color: black;
  z-index: 40;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.article-detail .article-date {
  font-size: 40px;
  transform: scaleY(0.7);
  transform-origin: 50% 50%;
  margin-top: 10px;
  margin-bottom: -10px;
}
.article-detail .article-title {
  font-size: 30px;
  background: linear-gradient(transparent 30%, rgba(113, 0, 0, 0.352) 50%);
  margin-bottom: 10px;
}
.article-detail .article-thumbnail-arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-detail .article-thumbnail-arrow .article-thumbnail {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-detail .article-thumbnail-arrow .arrow {
  position: relative;
  width: 50px;
  height: 150px;
}
.article-detail .article-thumbnail-arrow .arrow .arrow-shape {
  position: absolute;
  top: 74px;
  left: 0;
}
.article-detail .article-thumbnail-arrow .arrow .arrow-shape .arrow-upper {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  transform: rotate(60deg);
  transform-origin: 100% 100%;
}
.article-detail .article-thumbnail-arrow .arrow .arrow-shape .arrow-lower {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
  transform: rotate(-60deg);
  transform-origin: 100% 0%;
}
.article-detail .article-thumbnail-arrow .arrow-left {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
.article-detail .article-contents {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  line-height: 2;
  overflow-y: scroll;
}
.article-detail .article-contents::-webkit-scrollbar {
  display: none;
}

footer {
  width: 100vw;
  height: 20vh;
  background-color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .index a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  width: 50vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright {
  position: absolute;
  bottom: 10px;
}

@media screen and (min-width: 481px) {
  .main .content {
    width: 50vw;
  }
  footer .index a {
    width: 33.3vw;
  }
}
@media screen and (min-width: 960px) {
  .main .content {
    width: 33.3vw;
  }
  .opening-animation video {
    width: 100vw;
    height: auto;
  }
  .opening-animation .slogan {
    font-size: 5vw;
  }
  footer .index a {
    width: 33.3vw;
  }
}/*# sourceMappingURL=style.css.map */